# Hedonic Pricing

We often try to predict the price of an asset from its observable characteristics. This is generally called **hedonic pricing**: How do the unit's characteristics determine its market price?

In the lab folder, there are three options: housing prices in pierce_county_house_sales.csv, car prices in cars_hw.csv, and airbnb rental prices in airbnb_hw.csv. If you know of another suitable dataset, please feel free to use that one.

1. Clean the data and perform some EDA and visualization to get to know the data set.
2. Transform your variables --- particularly categorical ones --- for use in your regression analysis.
3. Implement an ~80/~20 train-test split. Put the test data aside.
4. Build some simple linear models that include no transformations or interactions. Fit them, and determine their RMSE and $R^2$ on the both the training and test sets. Which of your models does the best?
5. Include transformations and interactions, and build a more complex model that reflects your ideas about how the features of the asset determine its value. Determine its RMSE and $R^2$ on the training and test sets. How does the more complex model your build compare to the simpler ones?
6. Summarize your results from 1 to 5. Have you learned anything about overfitting and underfitting, or model selection?
7. If you have time, use the sklearn.linear_model.Lasso to regularize your model and select the most predictive features. Which does it select? What are the RMSE and $R^2$? We'll cover the Lasso later in detail in class.

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
# -- 1 --
df = pd.read_csv('/Users/Daria/Documents/UVA/Foundations_of_ML/linearRegression/ds3001-linearRegression/04_hedonic_pricing/airbnb_hw.csv')
df = df.loc[:,['Name','Neighbourhood','Property Type','Room Type','Price','Review Scores Rating'] ]
print(df.shape)
print(df.describe())
df.head()

(30478, 6)
       Review Scores Rating
count          22155.000000
mean              91.993230
std                8.850373
min               20.000000
25%               89.000000
50%               94.000000
75%              100.000000
max              100.000000

,Name,Neighbourhood,Property Type,Room Type,Price,Review Scores Rating
0,1 Bedroom in Prime Williamsburg,Brooklyn,Apartment,Entire home/apt,145,NaN
1,"Sunny, Private room in Bushwick",Brooklyn,Apartment,Private room,37,NaN
2,Sunny Room in Harlem,Manhattan,Apartment,Private room,28,NaN
3,Gorgeous 1 BR with Private Balcony,Manhattan,Apartment,Entire home/apt,199,NaN
4,Trendy Times Square Loft,Manhattan,Apartment,Private room,549,96.0